*{
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar{
    display: none;
}

.second-container{
    /* background-color: rgba(2, 77, 250, 0.919); */
    background-color: #767777;
}

.navdiv {
    position: fixed;
    overflow: hidden;
    position: absolute;
    margin-top: -33px;
    margin-left: 1000px;
}
button.homebtn {
    width: 70px;
    height: 30px;
    font-size: larger;
    margin-top: -5px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
button.Aboutbtn {
    margin-left: 50px;
    width: 79px;
    height: 30px;
    font-size: larger;
    margin-top: -5px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
button.Contactbtn {
    margin-left: 50px;
    width: 95px;
    height: 30px;
    font-size: larger;
    margin-top: -5px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
.servicebtn{
    margin-left: 50px;
    width: 79px;
    height: 30px;
    font-size: larger;
    margin-top: -5px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
img.classimage {
    margin-top: 125px;
    margin-left: 575px;
    width: 2117px;
    height: 661px;
}
.classcontent {
    align-content: flex-start;
    margin-top: -500px;
    width: 500px;
    margin-left: 852px;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3), rgba(0,0,0,0.2));
}
.divinput {
    margin-top: -125px;
    margin-left: 280px;
}
.search-container{
    margin-top: 500px;
}
.color-container {
    background: #767777;
    width: 1536px;
    height: 195px;
    margin-top: -188px;
}
input.inputdistrict {
    width: 250px;
    height: 72px;
    text-align: center;
    font-size: larger;
    color: black;
    border-style: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
input.inputfunction {
    /* position: absolute; */
    margin-left: 2px;
    width: 250px;
    height: 72px;
    text-align: center;
    font-size: larger;
    color: black;
    border-style: none;
    cursor: pointer;
}
input.inputDate {
    position: absolute;
    margin-left: 2px;
    width: 250px;
    height: 72px;
    text-align: center;
    font-size: larger;
    color: black;
    border-style: none;
    cursor: pointer;
}
.buttonsearch {
    position: absolute;
    margin-left: 254px;
    width: 250px;
    height: 72px;
    margin-top: 0px;
    border-style: none;
    font-size: larger;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.buttonsearch:hover{
    background-color: black;
    color: white;
}
.about-container{
    background-color: #FFDE90;
    margin-top: 53px;
    height: 500px;
}
p.about-paragraph {
    width: 1051px;
    font-size: xx-large;
    margin-left: 230px;
    position: absolute;
    margin-top: 92px;
    font-family: math;
}
