*{
    margin: 0px;
    padding: 0px;
}
body::-webkit-scrollbar{
    display: none;
}

element.style {
    color: white;
    font-size: 40px;
    margin-left: 40px;
}

.first-container{
    z-index: 1;
}

.second-container{
    /* background-color: rgba(2, 77, 250, 0.919); */
    /* background-color: #767777; */
    /* background-color: #23374D; */
    background-color: #123C69;
}

.navdiv {
    position: fixed;
    overflow: hidden;
    position: absolute;
    margin-top: -33px;
    margin-left: 1000px;
}
button.homebtn {
    width: 70px;
    height: 30px;
    font-size: larger;
    margin-top: -22px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
button.homebtn:hover{
    color: #FFECB3;
}
button.Aboutbtn {
    margin-left: 50px;
    width: 79px;
    height: 30px;
    font-size: larger;
    margin-top: -5px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
button.Contactbtn {
    margin-left: 50px;
    width: 95px;
    height: 30px;
    font-size: larger;
    margin-top: -5px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
.servicebtn{
    margin-left: 50px;
    width: 79px;
    height: 30px;
    font-size: larger;
    margin-top: -5px;
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}
img.classimage {
    margin-top: 125px;
    margin-left: 575px;
    width: 2117px;
    height: 661px;
}
.classcontent {
    align-content: flex-start;
    margin-top: -430px;
    width: 500px;
    margin-left: 852px;
    color: white;
}
.divinput {
    margin-top: -125px;
    margin-left: 280px;
}
.search-container{
    margin-top: 500px;
}
.color-container {
    /* background: #767777; */
    /* background-color: #23374D; */
    background-color: #123;
    width: 1536px;
    height: 195px;
    margin-top: -258px;
}
select.inputdistrict {
    width: 250px;
    height: 72px;
    text-align: center;
    font-size: larger;
    color: black;
    border-style: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

select.inputfunction {
    /* position: absolute; */
    margin-left: 2px;
    width: 250px;
    height: 72px;
    text-align: center;
    font-size: larger;
    color: black;
    border-style: none;
    cursor: pointer;
}
input.inputDate {
    position: absolute;
    margin-left: 2px;
    width: 250px;
    height: 72px;
    text-align: center;
    font-size: larger;
    color: black;
    border-style: none;
    cursor: pointer;
}
.buttonsearch {
    position: absolute;
    margin-left: 254px;
    width: 250px;
    height: 72px;
    margin-top: 0px;
    border-style: none;
    font-size: larger;
    cursor: pointer;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.buttonsearch:hover{
    /* background-color: black; */
    /* background-color: #1B2A3A; */
    background-color: #2C475F;
    color: white;
}
.about-container{
    background-color: #FFDE90;
    margin-top: 53px;
    height: 500px;
}
p.about-paragraph {
    width: 1051px;
    font-size: xx-large;
    margin-left: 230px;
    position: absolute;
    margin-top: 92px;
    margin-left: 280px;
    font-family: math;
}
.classprofilelogo {
    width: 34px;
    border-radius: 20px;
    margin-top: -7px;
    margin-left: 445px;
    z-index: 2;
}
.divprofile {
    margin-top: -127px;
    margin-left: -13px;
    margin-left: -119px;
    /* position: fixed; */
    /* z-index: 2; */
}
