form.signup_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 70px;
    margin-left: 890px;
}

h3.classignup {
    width: 484px;
}
input#user_firstName {
    margin-top: 20px;
    width: 440px;
    height: 35px;
    text-align: center;
    font-size: initial;
    border-color: black;
    cursor: pointer;
    border-radius: 5px;
}
input#user_lastName {
    margin-top: 10px;
    width: 440px;
    height: 35px;
    text-align: center;
    font-size: initial;
    border-color: black;
    cursor: pointer;
    border-radius: 5px;
}
input#user_email {
    margin-top: 10px;
    width: 440px;
    height: 35px;
    text-align: center;
    font-size: initial;
    border-color: black;
    cursor: pointer;
    border-radius: 5px;
}
input#user_password {
    margin-top: 10px;
    width: 440px;
    height: 35px;
    text-align: center;
    font-size: initial;
    border-color: black;
    cursor: pointer;
    border-radius: 5px;
}
input#user_repassword {
    margin-top: 10px;
    width: 440px;
    height: 35px;
    text-align: center;
    font-size: initial;
    border-color: black;
    cursor: pointer;
    border-radius: 5px;
}
span.signup_log {
    font-size: xx-large;
}
button#user_signupbtn {
    margin-top: 20px;
    width: 175px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    font-size: unset;
    cursor: pointer;
    background: #0f45b1;
    color: white;
}
span#signup_error {
    color: red;
    position: absolute;
    margin-top: 470px;
}
img.classmainlogo {
    position: absolute;
    width: 200px;
    margin-left: -870px;
    margin-top: -165px;
}

